/*======================================
BASE
=======================================*/

html {
 font-size: 10px;
}
body {
 color: #482626;
 background: #fdfdfd;
 font-family: 'Outfit','Questrial', sans-serif;
 font-size: 1.6rem;
 font-weight: 300;
 text-align: center;
} 
a {
 color: #482626;
 text-decoration: none;
}
 
/*======================================
 LAYOUT
=======================================*/
  
.header {
 border: solid 1px white;
 max-width: 1040px;
 margin: 0 auto;
} 
.main {
 border: solid 1px white;
 max-width: 1040px;
 margin: 0 auto;  
} 
.container {
 border: solid 1px white;
 max-width: 1040px;
 margin: 0 auto;
}  
.footer {
 border: solid 1px white;
 padding: 20px;
 max-width: 1040px;
} 
   
/*======================================
  MODULE
 =======================================*/
  
.section_title {
  text-align: left;
}
.section_title h1 {
  font-size: 25px;
  padding-top: 100px;
  padding-left: 115px;
}
.section_title h2 {
  font-size: 40px;
  padding-bottom: 30px;
}
.section_title h2 {
  display: flex;
  align-items: start;
} 
.section_title h2:before{
  content: "";
  height: 1px;
  width: 100px;
  background:#482626;
  margin: 30px 0;
}
.section_title h2:before {
  margin-right: 10px;
}
.section-list {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 50px;
}
.section-list-item {
  width: auto;
  position: relative;
  text-align: center;
}
.section-list-item img {
  width: auto;
  aspect-ratio: 3 / 3;
  object-fit:cover;
}
.section-wrapper {
  display: flex;
  justify-content: center;
  padding: 0 150px 0 150px;
}
.section-text {
  width: auto;
}
.section-link {
  width: 200px;
  padding-top: 70px;
}
.section-link a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.section-link a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #482626;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.section-link a:hover::after {
  transform: scale(1, 1);
}

/*======================================
  header
 =======================================*/

.header {
  position: fixed;
  background: white;
  color: black;
  width: 100%;
  padding: 5px;  
  z-index: 100;
  display: flex;
  box-sizing: border-box;
  top: 0; 
  left: 0; 
  justify-content: space-between;
  align-items: center;
 
}

.header_logo img {
  width: 250px;
} 
.header_logo a:hover {
  opacity: 0.6;
}
.header .nav-menu {
  display: flex;
  list-style: none;
}
.header .nav-menu li {
  padding-left: 20px;
}
.header .nav-menu li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.header .nav-menu li a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #482626;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.header .nav-menu li a:hover::after {
  transform: scale(1, 1);
}
  
/*======================================
  mainvisual
 =======================================*/

 .main-visual img {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit:cover;
  padding-top: 80px;
}
 .maintop .main-wrapper {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  position: relative;
  border:solid 1px white; 
}
.main-title {
  text-align: right;
  padding-right: 50px;
}
.main-title h1 {
  font-size: 14px;
}
.main-text {
  text-align: left;
  padding: 10px 30px 20px 30px;
  background: snow;
  display: inline-block;
  position: absolute;
  top: 630px;
  left: 50px;
}
.main-text h1 {
  font-size: 16px;
  margin: auto;
  padding: 10px 0 15px 0;
}
.news-item {
  display: flex;
  font-size: 14px;
  padding: 5px;
}

/*========= レイアウトのためのCSS ===============*/

.main-title h1 {
  text-align: right;
  margin: 20px 0;
}

/*========= タイピング ===============*/

.TextTyping span {
  display: none;
}

/*文字列後ろの線の設定*/
.TextTyping::after {
  content: "|";
  animation: typinganime .8s ease infinite;
}
@keyframes typinganime{
  from{opacity:0}
  to{opacity:1}
}

/*========= スライドショー ===============*/

.slider-item img {
  width: 100%;
  align-items: center;
}

/*矢印の設定*/

.slick-prev, 
.slick-next {
  position: absolute;
	z-index: 3;
  top: 42%;
  cursor: pointer;/*マウスカーソルを指マークに*/
  outline: none;/*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #fff;/*矢印の色*/
  border-right: 2px solid #fff;/*矢印の色*/
  height: 25px;
  width: 25px;
}
.slick-prev {/*戻る矢印の位置と形状*/
  left:2.5%;
  transform: rotate(-135deg);
}
.slick-next {/*次へ矢印の位置と形状*/
  right:2.5%;
  transform: rotate(45deg);
}
.gallery-img {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.gallery-img img {
  width: 150px;
}

/*======================================
  about
 =======================================*/
  
.about-content {
  display: flex;
  justify-content: center;
  padding: 0 150px 0 150px;
}
.about-img img {
  width: auto;
  
}
.about-profile {
  width: auto;
 
}
.about-link {
  font-size: 16px;
  padding-top: 20px;
}
.about-link a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.about-link a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #482626;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.about-link a:hover::after {
  transform: scale(1, 1);
}

/*========= 子ページ　わたしのこと ==========*/

.about-content-page {
  display: flex;
  justify-content: center;
  padding: 100px 150px 0 150px;
  align-items: center;
} 
.about-img img {
  width: 200px;
  padding-left: 30px;
  padding-top: 30px;
}
.about-profile-page {
  width: auto;
  text-align: center;
}
.about-profile-page h1 {
  text-align: left;
  font-size: 40px;
}
.about-profile-page h2 {
  text-align: left;
}
.about-profile-page p {
  text-align: left;
}
.nav-menu {
  display: flex;
  justify-content: center;
}
.nav-menu li {
  list-style: none;
  padding-left: 20px;
}
.nav-menu li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.nav-menu li a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #000000;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.nav-menu li a:hover::after {
  transform: scale(1, 1);
}
hr {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #482626;
}

/*=========  子ページ　できること  =========*/

.skill-title {
  padding-top: 100px;
}
.skill-title h1 {
  font-size: 30px;
}
.skill-title p {
  font-size: 40px;
  font-weight: bold;
}
.skill-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.skill-list-item {
  width: 300px;
  padding: 50px;
  margin: 30px;
}
.skill-img {
  width: 300px;
  position: relative;
  margin:0 auto;
}
.skill-img img{
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit:cover;
}
.item01{
  background: whitesmoke;
}
.item02{
  background: whitesmoke;
}
.item03{
  background: whitesmoke;
}
.item04 {
  background: whitesmoke;
}
.skill-number {
  position: absolute;
  top: 80px;
  left: 125px;
  font-size: 40px;
}
.skill-content h1 {
  font-size: 14px;
  margin: auto;
  padding-top: 20px;
}
.skill-content h2 {
  display:inline-block;
  font-size: 16px;
  background: white;
  padding: 8px 30px;
}
.skill-content a {
  display: inline-block;
  border: 1px solid black;
  padding: 20px;
}
.skill-content a:hover {
  background: white;
}
.skill-content p {
  padding-top: 10px;
}




/*========================================
  works　（※他、MODULEに記載あり）
　========================================*/

.works {
  padding-top: 100px;
}

/*=== 子ページ　制作したもの ===*/


.tab-menus {
  display:flex;
  justify-content: right;
  list-style: none;
  padding: 30px;
  color: silver;
}
.tab-menu {
  padding-left: 20px;
  cursor: pointer;
}
.tab-menus :hover {
  color: #482626;
}
.tab-menu.is-active {
  color: #482626;
  font-weight: bold;
}
.tab-menus li {
  border-left:1px solid silver; /*線の設定*/
  padding:2px 10px; /*余白の設定*/
}
.tab-menus li:first-child {
  border: none;
}
.tab-content {
  display:none;
}
.tab-content.is-active {
  display:block;
}
.section-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
}
.section-list-item {
  width: 200px;
  padding: 10px;
  position: relative;
}
.section-list-item img {
  width: 100%;
  height:auto;
  text-align: center;
}
.work-number {
  position: absolute;
  top: -50px;
  left: -20px;
  font-size: 40px;
}
.section-list-item {
  text-align: center;
}
.section-list-item h1 {
  font-size: 10px;
  text-align: left;
}
.section-list-item h2 {
  font-size: 16px;
  text-align: left;
}

/*　画像の拡大　*/

.zoomIn img{
	transform: scale(1);
	transition: .3s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
}
.zoomIn a:hover img{/*hoverした時の変化*/
	transform: scale(1.1);/*拡大の値を変更したい場合はこの数値を変更*/
  opacity: 0.8;  filter: brightness(100%); 
}

/*　画像のマスク　*/

.mask{
  display: block;
  line-height: 0;/*行の高さを0にする*/
  
}






/*========================================
  photograph（※他、MODULEに記載あり）
　========================================*/

.photograph {
  padding-top: 100px;
}


/*=== 子ページ　 写真撮影　===*/


.photograph-content {
  display: flex;
  justify-content: center;
  padding: 100px 100px 0 100px;
  gap: 30px;
  
}   
.photograph-img img {
  width: 300px;
  padding: 30px;
}   
.photograph-profile {
  width: auto;
}
.photograph-profile h1 {
  padding-top: 100px;
}
.photograph-link {
   padding: 30px 0 40px;
   text-align: center;
}
.photograph-link a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.photograph-link a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #000000;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.photograph-link a:hover::after {
  transform: scale(1, 1);
}
.photograph-wrapper {
  width: 100%;
  padding: 100px 0;
  clip-path: polygon(0 calc(0% + 7vw), 100% 0, 100% 100%, 0 100%);
  background-color: whitesmoke;
}
.photograph-picup {
  padding: 50px 0 30px;
}
iframe {
  max-width: 100%;
}
.concept-hyou{
  background: white;
  text-align: center;
  padding: 10px;
  overflow-x: scroll;
  padding-top: 100px;
} 
.concept-hyou table{
  width: 100%;
  max-width: 500px;
  border-collapse: collapse;
  margin: 0 auto;
}
.concept-hyou th{
  padding: 20px;
  border: 1px solid black;
  background: #F5F5F5;
  white-space: nowrap;
}
.concept-hyou td {
  text-align: left;
} 
.concept-hyou tbody th,
.concept-hyou tbody td{
  padding: 20px;
  border: 1px solid black;
  white-space: nowrap;
}
.hyou-text {
  padding-bottom: 200px;
}
.hyou-text p {
  text-align: center;
}



/*========================================
  contact
 =======================================*/

.contact {
  padding-top: 200px;
  padding-bottom: 100px;
}
.contact-link a {
  display:inline-block;
  width:300px;
  padding: 40px;
  border: 1px solid black;
}
.contact-title {
  padding: 30px;
}
.contact-title h1 {
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: -175px;
  left: 50px;
}
.contact-design {
  margin: 20px auto;
  padding: 100px;
  background: #F5F5F5;
  width: 400px;
}
.contact-link a:hover {
  background: white;
}
.contact-text {
  padding: 20px;
}



/*=== 子ページ　 お問い合わせ　===*/

.contact-page {
  padding: 30px;
  text-align: center;
}
.contact-page .contact-coment {
  text-align: center;
  padding-bottom: 50px;
}
.contact-page p {  
  font-size: 16px;
  margin-bottom: 20px;
}
.contact-page form{
  width: 500px;
  margin: 0 auto;
  text-align: left;
}
.contact-page label{
  display: block;
  padding-top: 20px;
  padding-bottom: 5px;
}
.contact-page input{
  width: 100%;
  padding: 20px;
  border: 1px solid #E6E6E6;
  background: #F0EFEF;
}
.contact-page textarea{
  width: 100%;
  padding: 10px;
  border: 1px solid #E6E6E6;
  background: #F0EFEF;
}
.button {
  border: solid 1px #333;
  padding: 16px 72px;
}
.contact-page span {
  text-align: center;
  color: red;
  border-radius: 10%;
  font-size: 20px;
  padding-left: 5px;
}  
.check-box {
  display: block;
  max-width: 300px;
  padding-left: 40px;
}
input[type=checkbox] {
  display: none;
}
.check-box__text {
  display: inline-block;
  padding: 3px 0 3px 40px;
  cursor: pointer;
  position: relative;
}
.check-box__text::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 20px;
  padding-top: 20px;
  top: 0;
  left: 0;
  border: 1px solid #594639;
}
.check-box__text::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 20px;
  padding-top: 7px;
  top: 3px;
  left: 5px;
  border-left: 2px solid red;
  border-bottom: 2px solid red;
  transform: rotate(-45deg);
  opacity: 0;
}
input[type=checkbox]:checked + div::after {
  opacity: 1;
}



 /*======================================
  footer
  =======================================*/
  
.footer hr {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #482626;
}
.footer-sns ul {
  display: flex;
  justify-content: right;
  padding-right: 100px;
}
.footer-sns ul li {
  list-style: none;
  padding-left: 20px;
}
.footer-sns li a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #482626;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.footer-sns li a:hover::after {
  transform: scale(1, 1);
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
}
.copylight p {
  width: 400px;
  text-align: left;
  padding-left: 20px;
  padding-top: 100px;
}
.footer_logo img {
  width: 150px;
  padding: 70px 70px 0 0;
  text-align: right;
}

/* scroll effect */
.fadeUpTrigger{
  opacity:0;
  transform:translateY(50px);
  transition:all 2.0s ease 0.1s;
}
.fadeUp{
  opacity:1;
  transform:translateY(0);
}

/* 一文字ずつ表示 */
.eachTextAnime span{opacity: 0;}
.eachTextAnime.appeartext span{ animation:text_anime_on 1s ease-out forwards; }
@keyframes text_anime_on {
	0% {opacity:0;}
	100% {opacity:1;}
}




 /*======================================
  レスポンシブ対応
  =======================================*/

@media screen and (max-width: 768px) {

/*SP*/

.openbtn{
  /*ボタン内側の基点となるためrelativeを指定。
  追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
  position: absolute;
  top: 10px;
  right:20px;
  background: white;
  cursor: pointer;
  width: 50px;
  height:50px;
  border-radius: 3px;
  z-index:9999;
}
  
/*ボタン内側*/
.openbtn span{
  display: inline-block;
  transition: all .4s;/*アニメーションの設定*/
  position: absolute;
  left: 10px;
  height: 3px;
  border-radius: 3px;
  background: #482626;
  width: 40%;
}
.openbtn span:nth-of-type(1) {
  top:15px;	
} 
.openbtn span:nth-of-type(2) {
  top:23px;
}
.openbtn span:nth-of-type(3) {
  top:31px;
} 

/*activeクラスが付与されると線が回転して×に*/
  
.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}
.openbtn.active span:nth-of-type(2) {
  opacity: 0;/*真ん中の線は透過*/
}
.openbtn.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}
.header {
  text-align: left;
  padding: 20px;
}
.header_logo img {
  width: 150px;
} 
.header .nav{
  position:fixed;
  top:0;
  left:0;
  width:300px;
  height:100vh;
  background:rgba(235,235,235,0.8);
  z-index:999;
  transform:translate(-100vw, 0);
  transition: all 0.5s ease 0.1s;
}
.header .nav .nav-menu{
  display:flex;
  flex-direction:column;
}

.header .nav .nav-menu li{
  padding:20px;
}
.header .nav .nav-menu li a{
  color: #482626;
}
.header .nav.active{
  transform:translate(0, 0);
}
.header .nav.active:before{
  opacity:1;
}


   
/*======================================
  MODULE
 =======================================*/
  
 .section_title {
  padding-right: 30px;
}
.section_title h1 {
  font-size: 20px;
  padding-top: 100px;
  padding-left: 53px;
}
.section_title h2 {
  flex-direction: column-reverse;
  font-size: 25px;
  padding-left: 50px;
}
.section_title h2:before{
  content: "";
  height: 1px;
  width: 50px;
  background:#482626;
  margin: 20px 0;
}
.section-text {
  width: auto;
}
.section-text p {
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
}
.section-list {
  flex-wrap: wrap;
  justify-content: center;
}
.section-list-item {
  width: 150px;
  padding: 10px;
  position: relative;
}
.section-list-item img {
  width: 150px;
}
.section-wrapper {
  flex-direction: column;
  text-align: center;
  padding: 0 50px 0 50px;
}
.section-link {
  width: auto;
  padding-top: 30px;
}
.top-left {
  position: absolute;
  top: -40px;
  left: 50px;
  font-size: 35px;
}


 
/*=======================================
  mainvisual
 =======================================*/

.main-title h1 {
  font-size: 14px;
}
.gallery-img img {
  width: 75px;
}
.gallery-img {
  padding: 150px;
}
.main-text {
  text-align: left;
  padding: 10px 30px 20px 30px;
  background: white;
  display: inline-block;
  position: absolute;
  top: 450px;
  left: 10px;
}
.main-text h1 {
  font-size: 16px;
  margin: auto;
  padding: 10px 0 15px 0;
}
.news-item {
  display: flex;
  font-size: 12px;
  padding: 5px;
}
 
/*========================================
  about
 =======================================*/


.about-profile {
    width: auto;
}
.about-profile h1 {
  font-size: 18px;
}
.about-profile p {
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
}
.about-content {
  flex-direction: column-reverse;
  text-align: center;
  padding: 0 20px 0 20px;
}
.about-img img {
  padding-right: 30px;
}
.about-link {
  padding-top: 30px;
}



/*=====　子ページ　about　=====*/
 
.about-content-page {
  flex-direction: column-reverse; 
  padding: 30px;
  align-items: center;
}
.about-content-page h1 {
  font-size: 25px;
}
.about-content-page h2 {
  font-size: 20px;
}  
.about-content-page p {
  font-size: 14px; 
}

/*=====　子ページ　skill　=====*/

.skill-title h1 {
  font-size: 20px;
}
.skill-title p {
  font-size: 25px;
}
.skill-list-item {
  padding: 20px;
  margin: 20px;
}
.skill-img img {
  width: 200px;
}
.skill-content h1 {
  font-size: 16px;
}
.skill-content h2 {
  font-size: 16px;
}
.skill-content h3 {
  font-size: 20px;
}
.skill-content p {
  font-size: 14px;
}
.skill-content p:last-child {
  padding-bottom: 50px;
}



/*======================================
  works
 =======================================*/

/*MODULEに記載*/



/*========================================
  photograph
 =======================================*/


/*=====　子ページ　photograph　=====*/


.photograph-content {
  flex-direction: column;
  padding: 30px;
}
.photograph-content h1 {
  font-size: 20px;
  padding-top: 1px;
}
.photograph-content h2 {
  font-size: 14px;
}  
.photograph-content p {
  font-size: 14px;
}
.photograph-link {
  padding: 20px 0 40px;
  text-align: center;
}
.photograph-picup {
  flex-direction: column;
  padding: 30px;
}
.youtube {
  width: 100%;
}
.photograph-picup h1 {
  font-size: 20px;
}
.photograph-picup p {
  font-size: 14px;
}

.concept-hyou table{
  width: 100%;
  max-width: 200px;
}
.concept-hyou {
  font-size: 12px;
}
.hyou-text p {
  font-size: 12px;
}


/*======================================
  contact
 =======================================*/

.contact-design {
  width: auto;
  padding: 80px;
}
.contact-title {
  padding: 5px;
}
.contact-title h1 {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: -140px;
}
.contact-link a {
  width:200px;
  padding: 30px;
}
.contact-text p {
  font-size: 14px;
}


/*=== 子ページ　 contact　===*/

.contact-coment p {
  font-size: 14px;
}
.contact-page label {
  font-size: 14px;
}
.contact-page input{
  width: 50%;
  padding: 20px;
  border: 1px solid #E6E6E6;
  background: #F0EFEF;
}
.contact-page textarea{
  width: 50%;
  padding: 10px;
  border: 1px solid #E6E6E6;
  background: #F0EFEF;
}
.button {
  border: solid 1px #333;
  padding: 16px 72px;
}
.check-box__text {
  font-size: 14px;
}
.check-box__text::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 16px;
  padding-top: 16px;
  top: 0;
  left: 0;
  border: 1px solid #594639;
}




/*======================================
  footer
 =======================================*/

.footer-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.footer-sns ul {
  padding: 20px 0 0 100px;
}
.copylight p {
  width: auto;
  font-size: 12px;
  padding-top: 100px;
}
.footer_logo img {
  width: 100px;
  padding: 80px 50px 0 30px;
  text-align: right;
}

}



